# ==============================================================================
# Regla SNI (Port 443 Stream Multiplexer): {{PROJECT_NAME}}
# ==============================================================================
{{TCP_SUBDOMAIN}}    127.0.0.1:{{STREAM_INTERNAL_PORT}};

