# ==============================================================================
# Terminador TLS Interno (Layer 4 Stream): proyecto1
# Despachado por el Universal SNI Multiplexer desde el puerto público 443
# ==============================================================================
# Este servidor escucha internamente en 127.0.0.1:10001 (NUNCA expuesto directo
# a Internet). Recibe las conexiones TLS para 'tcp.dominio-proyecto1.com' o
# 'mqtt.dominio-proyecto1.com', realiza la terminación TLS con Let's Encrypt
# y reenvía el flujo TCP desencriptado hacia el puerto interno del proyecto
# (10.10.1.2:1883) a través del túnel WireGuard.
# ==============================================================================

server {
    listen 127.0.0.1:10001 ssl;

    # Certificados TLS emitidos para el dominio de este proyecto
    ssl_certificate     /etc/letsencrypt/live/dominio-proyecto1.com/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/dominio-proyecto1.com/privkey.pem;

    # Protocolos y Ciphers SSL seguros
    ssl_protocols TLSv1.2 TLSv1.3;
    ssl_ciphers HIGH:!aNULL:!MD5;
    ssl_session_cache shared:SSL_TCP_PROYECTO1:10m;
    ssl_session_timeout 4h;

    # Timeouts adaptados a conexiones persistentes (Keep-Alive)
    proxy_timeout 1h;
    proxy_connect_timeout 10s;

    # Reenvío a través del túnel WireGuard hacia el servicio TCP interno de proyecto1
    proxy_pass 10.10.1.2:1883;
}
